<html lang="en">
    <head>
        
        <!--responsive viewport meta tags for touchscreen devices-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
            
        <!--CSS styles-->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/layout.css') }}">


        <title> TREX-DB</title>
        <!--Header section of the page-->
        <header style="margin-bottom:0">
            <h1 style="text-align: center;  font-size: 1.5rem"><a href="{{ url_for('home') }}" style="text-decoration: none; color: black;">Transcriptional Regulation Explorer DataBase</a></h1> 
            <br>
        </header>
         
        <!--this section codes for the top menu bar-->
        <div>
            <label for="toggle" class="labelToggle">&#9776;</label>
            <input type="checkbox" id="toggle"/>
            <div class="mainMenu">
                <a href="{{ url_for('home') }}" class="linksMainMenu">TREX-DB</a>
                <a href="{{ url_for('TF_search') }}" class="linksMainMenu">Transcription Factors</a>
                <a href="{{ url_for('drugs_search') }}" class="linksMainMenu">Drugs</a>
                <a href="{{ url_for('upload_data') }}" class="linksMainMenu">Upload Data</a>
                <a href="{{ url_for('contactus') }}" class="linksMainMenu">Contact Us</a>
            </div>
        </div>

        <div style="height: 12px;"></div>
    </head>

    <body>
        <!--the content of the page can be added in this block-->
        {% block content %}

        {% endblock %}

        <div style="height: 5px;"></div>
        
        <!--this section codes for the footer-->
        <footer class="footer">
            <h2 style="font-family: 'PT Sans', sans-serif;">Disclaimer</h2>
            <p style="font-family: 'Oxygen', sans-serif;">The information in this website must not be used for self-treatment. <br>
              Please seek medical advice if you are considering taking 
              any of the drugs mentioned in this website.</p>
        </footer>
    </body>
</html>