{% extends 'basicLayout.html' %}

{% block content %}

<div class="contentMargin">
  <div class="container-3">
    <div style="text-align: center;">
      <h2>Contact us</h2>
      <p>The scientific community relies on everyone's individual efforts to develop. <br>
        If you notice any bugs, have a suggestion for any improvements or would like to complain about 
        this website... <br> get in touch! <br><br>
      </p> 
    </div>

    <!--here the user can input their own comments alongside their basic info-->
    <form action="#" method='post' class="styleBoxes">
      <div>
        <h4>Your information</h4>
      </div>
      <div>
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="nm" required style="border: 1px solid black;"><br><br>
      </div>
      <div>
        <label for="email">Email address:</label><br>
        <input type="email" name="email" id="email" required style="border: 1px solid black;"><br><br>
      </div>
      <div>
        <label for="comments">Comments:</label><br>
        <textarea name="comments" id="comments" cols="10" rows="5" required style="border: 1px solid black;"></textarea>
      </div>
      <div>
        <br>
        <input type="submit" value="submit">
      </div>
    </form>
  </div>
</div>


{% endblock %}