{% extends 'basicLayout.html' %}

{% block content %}

<div class="contentMargin">
  <div class="container-3">
    <div style="height: 15px;"></div>

    <div style="text-align: center;">
      <h2 class="headings">Contact us</h2>
      <p>The scientific community relies on everyone's individual efforts to develop. <br>
        If you notice any bugs, have a suggestion for any improvements or would like to complain about 
        this website... <br> get in touch! <br><br>
      </p> 
    </div>

    <!--here the user can input their own comments alongside their basic info-->
    <form action="#" method='post' class="styleBoxes">
      <div>
        <h4 class="subheadings">Your information</h4><br>
      </div>
      <div>
        <input type="text" id="name" name="nm" placeholder="Name" required style="border: 1px solid black;"><br><br>
      </div>
      <div>
        <input type="email" name="email" id="email" placeholder="Email address" required style="border: 1px solid black;"><br><br>
      </div>
      <div>
        <textarea name="comments" id="comments" cols="10" rows="5" placeholder="Comments..." required style="border: 1px solid black;"></textarea>
      </div>
      <div>
        <br>
        <input type="submit" value="submit">
      </div>
    </form>

    <div style="height: 15px;"></div>
    
  </div>
</div>


{% endblock %}