{% extends 'basicLayout.html' %}

{% block content %}

<div class="contentMargin">
  <div style="text-align: center;">
    <h1 class="headings">TF-Targeting Drugs</h1>
  </div>


  <div>
    <!--if the drug searched is not in our database, flash an info message about it-->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for msg in messages %}
          <p class="flashed">{{msg}}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>
  
  <!--if the drug is not in our database, but there are similar results, display links for these results-->
  {% if similar_results %}
    <div class="flashed">
      <p>Did you mean one of these drugs instead?</p><br>
      {% for x in similar_results %}
        <a href="{{ url_for('drugs', drug_name = x) }}" style="color: teal; text-align: justify;">{{x}}</a>
      {% endfor %}
    </div>
  {% endif %}
  

  <div>
    <!--user will input their drug searches in this form-->
    <form action="#" method="post">
      <div class="searchContent">
        <label for="drugs_search">Find information about TF-Targeting Drugs here:</label><br>
        <input type="text" name="drugs_search" id="drugs_search" placeholder="eg. Mifepristone" required class="searchBox"><br>
        <input type="submit" class="searchButton"><br><br>
      </div>
    </form>
  </div>  
</div>


{% endblock %}