{% extends 'basicLayout.html' %}

{% block content %}

<div class="contentMargin">

    <div>
        <h1 class="headings">{{drug}}</h1>
    </div>

    <li>
        <h2 id="chemblID" class="subheadings">CHEMBL ID</h2>
        <p>{{chemblID}}</p>
        <h3 id="INCHIkey" class="subheadings">INCHI key</h2>
        <p>{{INCHIkey}}</p>
        <br>
    </li>

    <!--display chemical structure-->
    <div>
        <img src="{{drugStructure}}" alt="{{drug}} chemical structure" style="box-shadow: 0px 0px 3px 0.1px gray;">
    </div>

    {% if result_list %}
        <div>
            <p>{{drug}} interacts with these transcriptor factors:</p>
            <br>

            
            <table class="table">
                <thead class="fontHeaders">
                    <th>Gene Symbol</th>
                    <th>TF name</th>
                    <th>Binding site</th>
                    <th>Drug mechanism</th>
                </thead>
                {% for x in loop_list %}
                    <tbody class="fontBody">
                        {% for i in x %}
                            <td>{{i}}</td>
                        {% endfor%}
                    </tbody>                
                {% endfor %}
            </table>
        </div>

    {% else %}
        <p>There are no specific TFs known to interact with this drug.</p>
    {% endif %}
    
    


</div>


{% endblock %}