{% extends 'basicLayout.html' %}

{% block content %}

<div class="contentMargin">

    <div>
        <h1 class="headings">{{drug}}</h1>
    </div>

    <div style="display: flex; justify-content: space-evenly; align-items: center; flex-wrap: wrap;">
        
        <!--this section codes for the small table with the information pulled from the SQL database-->
        <table class="table" style="flex: 2;">
            <tr>
                <th>CHEMBL ID</th>
                <td>{{chemblID}}</td>
            </tr>
            <tr>
                <th>INCHI key</th>
                <td>{{INCHIkey}}</td>
            </tr>
        </table>

        <!--display chemical structure-->
        <picture>
            <img src="{{drugStructure}}" alt="{{drug}} chemical structure" class="pic">
        </picture>


        <!--if we have information about the specific TF targeted by this drug, it will display in this table-->
        {% if result_list %}
        <div>
            <p>{{drug}} interacts with these transcriptor factors:</p>
            <br>

            
            <table class="table" style="flex: 1;">
                <thead class="fontHeaders">
                    <th>Gene Symbol</th>
                    <th>TF name</th>
                    <th>Binding site</th>
                    <th>Drug mechanism</th>
                </thead>
                {% for x in loop_list %}
                    <tbody class="fontBody">
                        {% for i in x %}
                            <td>{{i}}</td>
                        {% endfor%}
                    </tbody>                
                {% endfor %}
            </table>
        </div>

    {% else %}
        <p>There are no specific TFs known to interact with this drug.</p>
    {% endif %}
    </div> 

</div>


{% endblock %}