{% extends 'basicLayout.html' %}

{% block content %}

<!--Clickable icons that redirect to the other 3 pages-->
<div class="containerHome">     
    <a href="{{ url_for('TF_search') }}" class="buttonsHome">
    <div>
      <h3 style="text-align: center; font-size: 1.4em;">Transcription Factors</h3><br>
      <p style="text-align: center; font-size: 0.9em;">Find out more about any transcription factor you like</p>
    </div>
    </a>
        
    <a href="{{ url_for('drugs_search') }}" class="buttonsHome">
    <div>
      <h3 style="text-align: center; font-size: 1.4em;">Drugs</h3><br>
      <p style="text-align: center; font-size: 0.9em;">Find out more about drugs that target transcription factors</p>
    </div>
    </a>
      
    <a href="{{ url_for('upload_data') }}" class="buttonsHome">
    <div> 
      <h3 style="text-align: center; font-size: 1.4em;">Upload data</h3><br>
      <p style="text-align: center; font-size: 0.9em;">Click here to upload your own gene expression data from a GEO Dataset</p>
    </div>
    </a>
</div>

{% endblock %}