{% extends 'basicLayout.html' %}

{% block content %}

<!--Clickable icons that redirect to the other 3 pages-->
<div class="containerHome">     
    <a href="{{ url_for('TF_search') }}" class="buttonsHome">
    <div class="buttonsHome">
      <h3 class="alignCenter">Transcription Factors</h3>
      <p class="alignCenter">Find out more about any transcription factor you like</p>
    </div>
    </a>
        
    <a href="{{ url_for('drugs_search') }}" class="buttonsHome">
    <div class="buttonsHome">
      <h3 class="alignCenter">Drugs</h3>
      <p class="alignCenter">Find out more about drugs that target transcription factors</p>
    </div>
    </a>
      
    <a href="{{ url_for('upload_data') }}" class="buttonsHome">
    <div class="buttonsHome" > 
      <h3 class="alignCenter">Upload data</h3>
      <p class="alignCenter">Click here to upload your own gene expression data from a GEO Dataset</p>
    </div>
    </a>
</div>

{% endblock %}