{% extends 'basicLayout.html' %}

{% block content %}

<div>
    <h1>Results of data analysis</h1>
</div>

<div>
    <h1 id="geneSymbol">{{TF_name}}</h1>
    <h2 id="metadata" class="subheadings">Metadata collected from this data</h2>
    <p>{{metadata}}</p>
    <h2 id="simpleStatistics" class="subheadings">Simple summary statistics of the data</h2>
    <p>{{simpleStatistics}}</p>
    <h2 id="boxplot" class="subheadings">Boxplot</h2>
    <p>{{boxplot}}</p>
    <h2 id="PCA" class="subheadings">Principal Component Analysis</h2>
    <p>{{PCA}}</p>


    {% if PCAgraph == checked %}
        <p>{{PCA}}</p>
    {% endif %}

    <table border="1">
        {% for key,value in result.items() %}
            <tr> 
                {{key}}
            </tr>
            <tr>
                {{value}}
            </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}