{% extends 'basicLayout.html' %}

{% block content %}
<div class="contentMargin">
    <div>
        <h1 class="headings">Results of data analysis</h1>
    </div>


    <div>
        <h2 id="metadata" class="subheadings">Metadata collected from this data</h2>
        <table class="table">
            <thead class="fontHeaders">
                <th>{{ header_key }}</th>
                <th>{{ header_value }}</th>
            </thead>
            {% for key, value in metadata.items() %}
                <tr class="fontBody">
                    <th>{{ key }}</th>
                    <td>{{ value }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    

    <div>
        <h2 id="simpleStatistics" class="subheadings">Simple summary statistics of the data</h2>
        <p>{{simpleStatistics}}</p>
        <h2 id="boxplot" class="subheadings">Boxplot</h2>
        <img src='{{ boxplot }}' alt="boxplot of the dataset imported">
        <h2 id="PCA" class="subheadings">Principal Component Analysis</h2>
        <img src='{{ PCA }}' alt="PCA graph">
        <h2 id="HCA" class="subheadings">Hierarchical Clustering Analysis</h2>
        <img src='{{ HCA }}' alt="HCA graph">
    </div>
    
    {% if PCAgraph == checked %}
        <p>{{PCA}}</p>
    {% endif %}
    
</div>




{% endblock %}