{% extends 'basicLayout.html' %}

{% block content %}

<div class="contentMargin">
  <div style="display: flex;">
    <div class="headings">{{TF_name}}</div>

    <!--this section codes for the paragraphs with the information pulled from the SQL database-->
    <div style="margin-left: 2%; flex: 3;">
      <h2 id="ensemblID" class="subheadings">Ensembl ID</h2>
      <p>{{ensemblID}}</p>
      <h2 id="entrezID" class="subheadings">Entrez ID</h2>
      <p>{{entrezID}}</p>
      <h2 id="pdbID" class="subheadings">Pdb ID</h2>
      <p>{{pdbID}}</p>
      <h2 id="uniprotID" class="subheadings">Uniprot ID</h2>
      <p>{{uniprotID}}</p>
      <h2 id="DBD" class="subheadings">DBD</h2>
      <p>{{DBD}}</p>
    </div>

    <table class="table" style="display: table-column;">
      <th>ensemble</th>
      <tr>{{ensemblID}}</tr>
      <th>entre</th>
      <tr>{{entrezID}}</tr>
    </table>

    <!--display chemical structure-->
    {% if pdbID %}
      <div>
        <img src="{{tfStructure}}" alt="{{TF_name}} chemical structure" style="box-shadow: 0px 0px 3px 0.1px gray;">
      </div>
    {% endif %}

  </div>
</div>


{% endblock %}