{% extends 'basicLayout.html' %}

{% block content %}

<div class="contentMargin">
  <div>
    <h1 class="headings">{{TF_name}}</h1>
  </div>

  <div style="display: flex; justify-content: space-evenly; align-items: center; flex-wrap: wrap;">
    
    <!--this section codes for the table with the information pulled from the SQL database-->
    <table class="table" style="flex: 2;">
      <tr>
        <th>Ensembl ID</th>
        <td>{{ensemblID}}</td>
      </tr>
      <tr>
        <th>Entrez ID</th>
        <td>{{entrezID}}</td>
      </tr>
      <tr>
        <th>Pdb ID</th>
        <td>{{pdbID}}</td>
      </tr>    
      <tr>
        <th>Uniprot ID</th>
        <td>{{uniprotID}}</td>
      </tr>    
      <tr>
        <th>DBD</th>
        <td>{{DBD}}</td>
      </tr>    
      <tr>
        <th>Subcellular Location</th>
        <td>{{ subcellularLocation }}</td>
      </tr>      
    </table>

    <!--display protein structure-->
    {% if pdbID %}
      <picture>
        <img src="{{tfStructure[0]}}" alt="{{TF_name}} assembly protein structure not available"  class="pic">
      </picture>

      <picture>
        <img src="{{tfStructure[1]}}" alt="{{TF_name}} model protein structure not available"  class="pic">
      </picture>

    {% endif %}

  </div>
</div>


{% endblock %}