{% extends 'basicLayout.html' %}

{% block content %}

<div class="contentMargin">
	<div style="text-align: center;">
		<h1>Search the desired transcription factor in our database</h1>
	</div>

	<div>
		<!--if the TF searched is not in our database, display an info message about it-->
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for msg in messages %}
					<p class="flashed">{{msg}}</p>
				{% endfor %}
			{% endif %}
		{% endwith %}


		<!--if the TF is not in our database, but there are similar results, display links for these results-->
		{% if similar_results %}
			<div class="flashed">
				<p>Did you mean one of these TFs instead?</p><br>
				{% for x in similar_results %}
					<a href="{{ url_for('TF', TF_name = x) }}" style="color: teal; text-align: justify;">{{x}}</a>
				{% endfor %}
			</div>
		{% endif %}
		
	</div>

	<div>
		<!--user will input their TF searches in this form-->
		<form action="#" method="post">
			<div>
				<label for="TF_search">Search:</label><br>
				<input type="text" name="TF_protein" id="TF_protein" placeholder='eg. ARID5B' required style="border: 1px solid black;"><br><br>
				<input type="submit"><br><br>
			</div>
		</form>
	</div>
</div>   


{% endblock %}