{% extends 'basicLayout.html' %}

{% block content %}

<div class="contentMargin">
    <div style="text-align: center;">
        <h2 class="headings">GEO dataset analysis</h2>
    </div>
    
    <div>
        <!--if the file uploaded is not compatible, display an info message about it-->
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for msg in messages %}
              <p class="flashed">{{msg}}</p>
            {% endfor %}
          {% endif %}
        {% endwith %}
    </div>
      
    <div>
        

        <!--this forms allows the user to upload their files and select the graphs they want to show-->
        <form action="#" method='post' enctype="multipart/form-data">
            <div style="text-align: center;">
                <p>You can upload here your GEO dataset data and receive a basic statistical analysis.
                <br>Additional graphs and analysis can be selected using the form below.</p>
            </div>

            
            <!--the user can upload their GDS/soft data file here-->
            <div style="text-align: center;"> 
                <input type="file" id="fileGEO" name="fileGEO" value="Select file" class="button2" style="margin-bottom: 1em;" required>
            </div>
            
            <!--Here the user can select the additional graphs and data analysis they need from the GEO dataset-->
            <div>
                <li style="text-indent: 10%;">Select here your optional analysis:</li>
            </div>
            
            <div class="options2" class="fontBody">
                <div>              
                    <input type="checkbox" id="boxplot" value="boxplot" name="graph" checked>  
                    <label for="boxplot">Boxplot of Gene Expression levels</label>
                </div>
                <div>              
                    <input type="checkbox" id="PCA" value="PCA" name="graph" checked>  
                    <label for="PCA">Principal Component Analysis (PCA)</label>
                </div>
                <div>               
                    <input type="checkbox" id="HCA" value="HCA" name="graph" checked> 
                    <label for="HCA">Hierarchical Clustering Analysis (HCA)</label>
                </div>
                <div>               
                    <input type="checkbox" id="TFO" value="TFO" name="graph" checked> 
                    <label for="TFO">Transcription Factors expression levels</label>
                </div>
            </div>
            

            <div>
                <div>
                    <p style="text-align: center;">These functions may take a while to load... <br> 
                        You could spend your time: brewing coffee, sipping tea, playing with your pet.</p>
                </div>
    
                <div style="text-align: center; padding: 1rem; flex-grow: 2; justify-content: center;">
                    <input value="Submit" type="submit" class="button1">
                    <input type="reset" value="Reset form" class="button1">
                </div>
                
                <br><br>
    
            </div>
        </form>

    </div>


    
</div>


{% endblock %}