/* background and font designs */

body {
    background-image: url(/static/background\ 1.png);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.fontHeaders {

}

.fontBody {
    font-family: BrandonText,sans-serif, brandon-grotesque, BrandonText,sans-serif;
    font-weight: 400;
    font-size: 17px;

}
/* main menu */

.mainMenu {
    color: whitesmoke;
    background-color: whitesmoke;
    border: 1.4px solid black; 
    border-radius: 40px;
    padding: 30px;
    box-shadow: 0px 0px 3px 0.1px gray;
    flex-wrap: nowrap;
}

.mainMenuLi {
    float: left;
    background-color:  whitesmoke;
    padding-top: 0px;
}

.a-homepage{
    font-size: 24px;
    text-decoration: none;
    display: block;
    background-color: whitesmoke;
    color: black;
    float: left;
    border-radius: 40px black;
}

.a-homepage:hover {
    color: teal;
}

.linksMainMenu {
    text-decoration: none;
    color: black;
    padding: 42px;
    font-size: 17px;
    border-radius: 40px solid black;
    font-family: 'Raleway', sans-serif;
}

.linksMainMenu:hover {
    color: teal;
}

li.mainMenu a.linksMainMenu {
    background-color: #e0f2f1;
    padding: 8px 16px;
  }



/* footer section */

footer {
    padding: 10px;
    background-color:  black;
    color: white;
    text-align: center;
    display: -ms-inline-flexbox;
    border: 1.3px solid black;
    border-radius: 40px;
    bottom: 0%;
    margin-top: auto;
    box-shadow: 0px 0px 3px 0.1px gray;
}

/* extras */

.contentMargin {
    margin: 10px;
    padding-left: 90px;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 0px 0px 3px 0.1px gray;
}

.flashed {
    text-align: center;
    padding: 20px;
    margin: 40px;
    box-shadow: 0px 0px 3px 0.1px gray;
}


/* Home page */

.containerHome {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
}

.buttonsHome {
    flex-basis:20%;
    text-decoration: none;
    color: black;
    font-family: 'Open sans', sans-serif;
    text-align: center;
    border: 1px solid black;
    border-radius: 25px;
    padding: 50px;
    padding-bottom: 40px;
    margin: 10px auto;    
    background-color: whitesmoke;
    box-shadow: 0px 0px 3px 0.1px gray;
}



/* layout */

/* Small devices (phones) */

#wrapper {width:95%;  margin: 0 auto; }

#header {width:100%; }

#content {width:100%; }

#sidebar {width:100%; }

#footer {width:100%; margin-bottom: 0%;}

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
    
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {

    #wrapper {width:90%;  margin: 0 auto; }

    #content {width:70%; float:left; }

    #sidebar {width:30%; float:right; }

    #footer {width:100%; margin-bottom: 0%;}
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {

    #wrapper {width:90%;  margin: 0 auto; }
    
    #content {width:70%; float:left; }

    #footer {width:100%; margin-bottom: 0%;}
}   

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {

    #wrapper {width:90%;  margin: 0 auto; }
    
    #content {width:70%; float:left; }

    #footer {width:100%; margin-bottom: 0%;}

}