/* background and fonts designs */

body {
    background-image: url(/static/background\ 1.png);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100%;
}

.fontHeaders {

}

.fontBody {
    font-family: BrandonText,sans-serif, brandon-grotesque, BrandonText,sans-serif;
    font-weight: 400;
    font-size: 17px;

}

/* main menu */

.mainMenu {
    color: whitesmoke;
    background-color: whitesmoke;
    border: 1.4px solid black; 
    border-radius: 40px;
    padding: 30px;
    box-shadow: 0px 0px 3px 0.1px gray;
    flex-wrap: nowrap;
}

.mainMenuLi {
    float: left;
    background-color:  whitesmoke;
    padding-top: 0px;
}

.a-homepage{
    font-size: 24px;
    text-decoration: none;
    display: block;
    background-color: whitesmoke;
    color: black;
    float: left;
    border-radius: 40px black;
}

.a-homepage:hover {
    color: teal;
}

.linksMainMenu {
    text-decoration: none;
    color: black;
    padding: 42px;
    font-size: 17px;
    border-radius: 40px solid black;
    font-family: 'Raleway', sans-serif;
}

.linksMainMenu:hover {
    color: teal;
}

li.mainMenu a.linksMainMenu {
    background-color: #e0f2f1;
    padding: 8px 16px;
  }



/* footer section */

footer {
    padding: 10px;
    background-color:  black;
    color: white;
    text-align: center;
    display: -ms-inline-flexbox;
    border: 1.3px solid black;
    border-radius: 40px;
    bottom: 0%;
    position: static;
    box-shadow: 0px 0px 3px 0.1px gray;
}


/* Home page */

.containerHome {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    justify-content: center;
}

.buttonsHome {
    flex: 1;
    margin: 1%;
    text-decoration: none;
    color: black;
    font-family: 'Open sans', sans-serif;
    text-align: center;
    border: 1px solid black;
    border-radius: 25px;
    padding: 50px;
    padding-bottom: 40px;   
    background-color: whitesmoke;
    box-shadow: 0px 0px 3px 0.1px gray;
}

/* multiple pages */

.contentMargin {
    margin: 1%;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 0px 0px 3px 0.1px gray;
}

.flashed {
    text-align: center;
    padding: 20px;
    margin: 40px;
    box-shadow: 0px 0px 3px 0.1px gray;
}

.sideBar {
    flex: 1;
    position: sticky;
    padding: 0.5%;
    width: 90%;
    z-index: 1;
}

.sidebarLi {
    flex: 1;
    display: inline-block;
    text-decoration: none;
    color: black;
}